@charset "UTF-8";


h1{
	text-align:center;
}

table.sche{
	background:white;
	border:1px solid #a9a9a9;
	padding:0px;margin:0px;
}

table.schedule{
	background:white;
	border:1px solid #a9a9a9;
	padding:0px;margin:0px;
	border-collapse:collapse;
}


td{
	vertical-align:top;
	margin:0px;
	padding:3px;
	font-size:0.75em;
	height:20px;
}

td.top{
	border-bottom:1px solid #a9a9a9;
	text-align:center;
}

td.time{
	background-color:#f0f8ff;
	text-align:right;
	border-right:1px double #a9a9a9;
	padding-right:5px;
}

td.timeb{
	background-color:#f0f8ff;
	border-bottom:1px solid #a9a9a9;
	border-right:1px double #a9a9a9;
}

td.contents{
	background-color:#ffffff;
	border-bottom:1px dotted #a9a9a9;
}

td.contentsb{
	background-color:#ffffff;
	border-bottom:1px solid #a9a9a9;
}

td.ex{
	background-color:#ffebcd;
	border:1px solid #8b0000;
}

img{
	border:0px;
}

p{
	font-size:0.75em;
}

#contents{
	margin:0;
	padding:0;
	width:1300px;
}

#left{
	margin:10px;
	padding:10px;
	left:50px;
	width:450px;
}

#middle{
	padding:0;
	margin-left: auto;
  	margin-right: auto;
	width:450px;
}

#right{
	margin:auto;
	padding:auto;
	float:right;
	width:300px;
	background-color:#ffffff;
	display:block;
}

#contents:after{
	content:".";
	display:block;
	height:0;clear:both;
	visibility:hidden;
}

#back{
	width:400px;
}

.up{
	display: inline-flex;
}

