<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カレンダー</title>
<link rel="stylesheet" th:href="@{/css/calender.css}">

</head>
<body>
<div class="container-calendar">
		<!-- 年月を表示 -->
          <h4 id="monthAndYear"></h4>

          <div class="button-container-calendar">
          	<!-- previousボタンを押したら、前の月を表示 -->
              <button id="previous" onclick="previous()">‹</button>
              <!-- nextボタンを押したら、次の月を表示 -->
              <button id="next" onclick="next()">›</button>
          </div>
		  <!-- カレンダー本体 -->
          <table class="table-calendar" id="calendar" data-lang="ja">
              <thead id="thead-month"></thead>
              <tbody id="calendar-body" class="pop"></tbody>
          </table>

		<!-- 年月を選択すると、選択した年と月のカレンダーが表示される -->
          <div class="footer-container-calendar">
              <label for="month">年月指定：</label>
              <select id="month" name="month" onchange="jump()">
                  <option value=0 >1月</option>
                  <option value=1 >2月</option>
                  <option value=2 >3月</option>
                  <option value=3 >4月</option>
                  <option value=4 >5月</option>
                  <option value=5 >6月</option>
                  <option value=6 >7月</option>
                  <option value=7 >8月</option>
                  <option value=8 >9月</option>
                  <option value=9 >10月</option>
                  <option value=10 >11月</option>
                  <option value=11 >12月</option>
              </select>
              <select id="year" name="year" onchange="jump()">

              </select>
          </div>
          <span class="account"><a th:href="'/customer/' + ${session.customerInfo.name}" th:text="${session.customerInfo.name}"></a>さんがログイン中</span>
          <br>
          <div class="table-contents">
          <table class="sche" border="1" >
          	<caption>スケジュール</caption>
			<tr><th>日付</th><th>開始時刻</th><th>終了時刻</th><th>予定</th><th>メモ</th></tr>
			<tr th:each="list:${records}">
				<td th:text="${list.scheduledate}"></td>
				<td th:text="${list.starttime}"></td>
				<td th:text="${list.endtime}"></td>
				<td th:text="${list.schedule}"></td>
				<td th:text="${list.schedulememo}"></td>
			</tr>
		  </table>
		  </div>
		  <br>
    </div>

<script th:inline="javascript">
	/*
	カレンダー作成
	*/
	/*<![CDATA[*/
	//カレンダーの年範囲を作成
	function generate_year_range(start, end) {
	  var years = "";
	  for (var year = start; year <= end; year++) {
	      years += "<option value='" + year + "'>" + year + "</option>";
	  }
	  return years;
	}

	var today = new Date(); //日付
	var currentMonth = today.getMonth(); //月
	var currentYear = today.getFullYear(); //年

	var selectYear = document.getElementById("year"); //年の選択
	var selectMonth = document.getElementById("month"); //月の選択

	var createYear = generate_year_range(1970, 2200); //カレンダーの年範囲

	document.getElementById("year").innerHTML = createYear; //指定した範囲の年を作成

	var calendar = document.getElementById("calendar"); //カレンダー本体
	var lang = calendar.getAttribute('data-lang'); //言語

	var months = ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"]; //月
	var days = ["日", "月", "火", "水", "木", "金", "土"]; //曜日

	//日付を表示
	var dayHeader = "<tr>";
	for (day in days) {
	  dayHeader += "<th data-days='" + days[day] + "'>" + days[day] + "</th>";
	}
	dayHeader += "</tr>";

	//各曜日をカレンダーの上部に表示
	document.getElementById("thead-month").innerHTML = dayHeader;

	//現在の（選択した）年月を表示
	monthAndYear = document.getElementById("monthAndYear");
	showCalendar(currentMonth, currentYear);
	showCalendar2(currentMonth2, currentYear2);

	//nextボタンを押すと、1か月後のカレンダーを表示
	function next() {
	  currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
	  currentMonth = (currentMonth + 1) % 12;
	  showCalendar(currentMonth, currentYear);
	}

	//previousボタンを押すと、1か月前のカレンダーを表示
	function previous() {
	  currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
	  currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
	  showCalendar(currentMonth, currentYear);
	}

	//選択した年月にジャンプ
	function jump() {
	  currentYear = parseInt(selectYear.value);
	  currentMonth = parseInt(selectMonth.value);
	  showCalendar(currentMonth, currentYear);
	}

	//カレンダーの本体部分の表示
	function showCalendar(month, year) {
	  //javaのlistをjavascriptの配列にセット
	  var hoge = /*[[${records}]]*/;

	  var firstDay = ( new Date( year, month ) ).getDay();

	  tbl = document.getElementById("calendar-body");

	  tbl.innerHTML = "";

	  monthAndYear.innerHTML = months[month] + " " + year;
	  selectYear.value = year;
	  selectMonth.value = month;

	  // creating all cells（カレンダーを格納するセルの作成）
	  var date = 1;

	  for ( var i = 0; i < 6; i++ ) {
	      var row = document.createElement("tr");

	      for ( var j = 0; j < 7; j++ ) {
	          if ( i === 0 && j < firstDay ) {
	              cell = document.createElement("td");
	              cellText = document.createTextNode("");
	              cell.appendChild(cellText);
	              row.appendChild(cell);
	          } else if (date > daysInMonth(month, year)) {
	              break;
	          } else {
	          	  //セル生成
	              cell = document.createElement("td");
	              cell.setAttribute("data-date", date);
	              cell.setAttribute("data-month", month + 1);
	              cell.setAttribute("data-year", year);
	              cell.setAttribute("data-month_name", months[month]);
	              cell.className = "date-picker";
	              var month1 = "" + (month+1);
	        	  var date1 = "" + date;
	        	  month1 = month1.length == 1 ? "0" + month1 : month1;
	        	  date1 = date1.length == 1 ? "0" + date1 : date1;
	              var comparison = year + "/" + month1 + "/" + date1;

	        	  //alert(hoge[0].scheduledate + " " + comparison);
				  var s = "";
				  for(var t=0; t<hoge.length; t++){
					  if(hoge[t].scheduledate == comparison){
						  s = "★";
						  break;
					  }
				  }

				  var week = getWeek(year, month, date);
				  if(week == 0){
					  cell.innerHTML = "<span>" +'<a href="/calender/'+ date1 +"/" + month1 + "/"+ year + '" style="color:red;">'+date+"</a>" + "<br>" + s + "</span>";
				  }else if(week == 6){
					  cell.innerHTML = "<span>" +'<a href="/calender/'+ date1 +"/" + month1 + "/"+ year + '" style="color:blue;">'+date+"</a>" + "<br>" + s + "</span>";
				  }else{
	              	  cell.innerHTML = "<span>" +'<a href="/calender/'+ date1 +"/" + month1 + "/"+ year + '" class="datecolor">'+date+"</a>" + "<br>" + s + "</span>";
				  }

	              if ( date === today.getDate() && year === today.getFullYear() && month === today.getMonth() ) {
	                  cell.className = "date-picker selected";


	              }

	              row.appendChild(cell);
	              date++;

	          }
	      }

	      tbl.appendChild(row);
	  }
	  //getWeek();
	}

	//1か月の日数を設定
	function daysInMonth(iMonth, iYear) {
	  return 32 - new Date(iYear, iMonth, 32).getDate();
	}

	function getWeek(year, month, day){
		var date = new Date(year, month, day);
		//var date = new Date(2021, 6, 21);
		return date.getDay();
	}

	/*]]>*/
</script>

</body>
</html>