<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お客様情報</title>
</head>
<link th:href="@{/css/customer.css}" rel="stylesheet" type="text/css">
<body>
	<form class="form" action="/edit" method="post">
		<div class="complete" th:text="${error}"></div>
		<h1>お客様情報</h1>
		<div class=" box-after"><span class="box-title">名前</span><div class="confirm" th:text="${account.name}"></div></div>
		<div class=" box-after"><span class="box-title">メールアドレス</span><div class="confirm" th:text="${account.email}"></div></div>
		<div class=" box-after"><span class="box-title">秘密の質問</span><div class="confirm" th:text="${account.secret}"></div></div>
		<div class=" box-after"><span class="box-title">質問の答え</span><div class="confirm" th:text="${account.answer}"></div></div>
		<input type="hidden" name="code" th:value="${account.code}">
		<input type="hidden" name="name" th:value="${account.name}">
		<input type="hidden" name="password" th:value="${account.password}">
		<input type="hidden" name="email" th:value="${account.email}">
		<input type="hidden" name="secret" th:value="${account.secret}">
		<input type="hidden" name="answer" th:value="${account.answer}">
		<button class="btn">変更</button>
	</form>

	<form action="/resetpass" method="post">
	<h5>
		<input type="hidden" name="name" th:value="${account.name}">
		<input type="submit" class="pass" value="パスワードの再設定">
	</h5>
	</form>

	<h5>
		<a href="/edit/calender">カレンダーに戻る</a>
	</h5>
	<h5>
		<a href="/logout">ログアウト</a>
	</h5>
</body>
</html>