<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お客様情報</title>
<script th:inline="javascript" th:if="${session.customerInfo2 == null}">
/*<![CDATA[*/
var Pass = window.prompt("パスワードを入力してください");

if(Pass == ""){
	window.alert("パスワードを入力してください。");
	location.href = "http://localhost:8080/calender";

}else if(Pass != [[${pass}]]){
	window.alert("パスワードが一致しません。");
	location.href = "http://localhost:8080/calender";

}else if(Pass == [[${pass}]]){
	window.alert("パスワードが一致しました。");
}
/*]]>*/
</script>
</head>
<link th:href="@{/css/style4.css}" rel="stylesheet" type="text/css">
<body>
	<h1>お客様情報</h1>
	<table border="1">
		<tr>
			<th>名前</th>
			<td th:text="${account.name}"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${account.email}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td th:text="${account.password}"></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td th:text="${account.tel}"></td>
		</tr>
		<tr>
			<th>住所</th>
			<td th:text="${account.address}"></td>
		</tr>
	</table>
	<br>
	<form action="/edit" method="post">
		<p><input type="submit" class="edit" value="変更"></p>
		<input type="hidden" name="code" th:value="${account.code}">
		<input type="hidden" name="name" th:value="${account.name}">
		<input type="hidden" name="email" th:value="${account.email}">
		<input type="hidden" name="password" th:value="${account.password}">
		<input type="hidden" name="tel" th:value="${account.tel}">
		<input type="hidden" name="address" th:value="${account.address}">
	</form>
	<p><a href="/calender">カレンダーに戻る</a></p>
	<p><a href="/logout">ログアウト</a></p>
</body>
</html>