<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウント管理</title >
</head>
<body>
<h1>アカウント更新</h1>
<form action="/edit" method="post">
<table border="1">
	<tr>
		<input type="hidden" name="CODE" th:value="${code}">
		<th>コード</th><td th:text="${code}" name="CODE" th:value="${code}"></td>
	</tr>
	<tr><th>名前</th><td><input type="text" name="NAME" th:value="${user.name}"></td></tr>
	<tr><th>メールアドレス</th><td><input type="text" name="EMAIL" th:value="${user.email}"></td></tr>
	<tr><th>パスワード</th><td><input type="text" name="PASS" th:value="${user.password}"></td></tr>
</table>
<br>
<input type="submit" value="更新">
</form>
</body>
</html>