<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>秘密の質問</title>
</head>
<link th:href="@{/css/forget_confirm.css}" rel="stylesheet"
	type="text/css">
<body>
	<form action="/forget_confirm" method="post" th:if="${session.password} == null">
		<div th:text="${error}" style="color: red;"></div>
		<h1>秘密の質問</h1>
		<div class=" box-after"><span class="box-title">質問</span><div class="confirm" th:text="${account.secret}" th:value="${secret}"></div></div>
		<div class=" box-after" style="margin-top:0px;"><input class="confirm" name="answer" placeholder="質問の答え" type="text"></div>
		<input type="hidden" name="secret" th:value="${account.secret}">
		<button class="btn">回答</button>
	</form>

	<form th:if="${session.password} != null">
		<h1>パスワード</h1>
		<div th:text="${success}" style="color: red;"></div>
		<div class=" box-after" style="margin-top:30px;"><div class="confirm" th:text="${account.password}"></div></div>
	</form>

	<h5>
		<a href="/login/back">ログイン画面に戻る</a>
	</h5>
</body>
</html>