<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>秘密の質問</title>
</head>
<link th:href="@{/css/forget_confirm.css}" rel="stylesheet"
	type="text/css">
<body>
	<form action="/forget_confirm" method="post">
		<div th:text="${error}" style="color: red;"></div>
		<h1>秘密の質問</h1>
		<div class=" box-after"><span class="box-title">秘密の質問</span><div class="confirm" th:text="${account.secret}"></div></div>
		<input name="answer" placeholder="質問の答え" type="text">
		<button class="btn">回答</button>
	</form>
</body>
</html>