<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード取得</title>
</head>
<link th:href="@{/css/forget.css}" rel="stylesheet" type="text/css">
<body>
	<form action="/forget" method="post">
		<div th:text="${error}" style="color: red; margin-top: 30px;"></div>
		<div th:text="${error2}" style="color: red; margin-top: 0px;"></div>
		<h1>パスワード<br>アシスタント</h1>
		<input name="email" placeholder="メールアドレス" type="text">
		<input type="hidden" name="secret" th:value="${secret}">
		<input type="hidden" name="answer" th:value="${answer}">
		<button class="btn">次へ進む</button>
	</form>
	<h5>
		<a href="/login">ログイン画面に戻る</a>
	</h5>
</body>
</html>