<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
<body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
	<form action="/login" method="post">
		<div th:text="${error}" style="color: red; margin-top:30px;"></div>
		<div th:text="${error2}" style="color: red; margin-top:0px;"></div>
		<h1>ログイン</h1>
		<input name="email" placeholder="メールアドレス" type="text">
		<input name="password" placeholder="パスワード" type="password">
		<button class="btn">ログイン</button>
		<input name="secret" type="hidden" value="">
		<input name="answer" type="hidden">
		<a href="/forget"><h6>パスワードを忘れた方</h6></a>
	</form>
	<h5>
		<a href="/signup">新規登録</a>
	</h5>
</body>
</html>