<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title >ログイン</title>
</head>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
<body>
<h1>ログイン</h1>
<form action="/login" method="post">
	<div th:text="${error}" style="color: red;" ></div>
	<br>
	<table border="1">
		<tr><th>メールアドレス</th><td><input type="email" name="email" placeholder="メールアドレス"></td></tr>
		<tr><th>パスワード</th><td><input type="password" name="password" placeholder="パスワード"></td></tr>
	</table>
	<br>
<p><input type="submit" class="btn btn-border" value="ログイン"></p>
</form>
<br>
<div>
<a href="/signup">新規登録</a>はこちら
</div>
<br>
</body>
</html>