<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>スケジュール</title>
<link rel="stylesheet" th:href="@{/css/schedule.css}">
</head>
<body>
<h1>スケジュール登録</h1>
<b th:text="${sche.year}"></b>年<b th:text="${sche.month}"></b>月<b th:text="${sche.date}"></b>日

<!-- スケジュール表 -->

<h2>スケジュール</h2>
<div id="contents">
<div id="left" class="up">
	<table class="sche" border="1" th:if="${recordz != null}">
		<tr><th>日付</th><th>開始時刻</th><th>終了時刻</th><th>予定</th><th>メモ</th></tr>
		<tr th:each="list:${recordz}">
			<td th:text="${list.scheduledate}"></td>
			<td th:text="${list.starttime}"></td>
			<td th:text="${list.endtime}"></td>
			<td th:text="${list.schedule}"></td>
			<td th:text="${list.schedulememo}"></td>
	<form action="/customer/delete" method="post">
		<td><input type="submit" value="削除"></td>
		<input type="hidden" name="code" th:value="${list.code}">
	</form>
		</tr>

	</table>
	<br>
</div>

<div id="middle" class="up">
<table class="schedule" border="1">
	<caption>本日のスケジュール</caption>
	<tr><td class="top" width="80px">時刻</td><td class="top" width="300px">予定</td></tr>
	<tr><td class="time">01:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '1:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '1:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">02:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '2:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '2:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">03:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '3:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '3:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">04:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '4:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '4:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">05:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '5:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '5:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">06:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '6:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '6:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">07:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '7:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '7:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">08:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '8:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '8:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">09:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '9:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '9:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">10:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '10:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '10:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">11:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '11:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '11:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">12:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '12:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '12:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">13:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '13:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '13:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">14:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '14:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb" ><span th:each="time:${records}" th:if="${time.starttime == '14:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">15:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '15:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '15:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">16:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '16:00'}" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '16:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">17:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '17:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '17:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">18:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '18:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '18:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">19:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '19:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '19:30'}" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">20:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '20:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '20:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">21:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '21:00' }"th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '21:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">22:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '22:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '22:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">23:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '23:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '23:30' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="time">24:00</td><td class="contents"><span th:each="time:${records}" th:if="${time.starttime == '24:00' }" th:text="${time.schedule}"></span></td></tr>
	<tr><td class="timeb"></td><td class="contentsb"><span th:each="time:${records}" th:if="${time.starttime == '24:30' }" th:text="${time.schedule}"></span></td></tr>
</table>
<br>
</div>

<!-- スケジュール作成 -->
<div id="right" class="up">
<form action="/update" method="post" style="display:inline;">
<div th:text="${error}" style="color: red;"></div><br>
<table style="width:300px;">
	<tr>
		<td >日付</td>
		<td>
			<select name="YEAR">
				<option th:value="${year}" th:text="${year}+ '年'">
			</select>
			<select name="MONTH">
				<option th:value="${month}" th:text="${month}+ '月'">
			</select>
			<select name="DAY">
				<option th:value="${date}" th:text="${date}+ '日'">
			</select>
		</td>
	</tr>
	<tr>
		<!-- スケジュールの時間を指定する -->
		<td>時刻</td>
		<td>
			<!-- 開始時間の指定 -->
			<select name="starthour">
				<option value="">--時
				<option th:each="i : ${#numbers.sequence(1, 24)}" th:value="${i}" th:text="${i}+ '時'">
			</select>
			<select name="startminute">
				<option value="00">00分
				<option value="30">30分
			</select>
			～
			<!-- 終了時間の指定 -->
			<select name="endhour">
				<option value="">--時
				<option th:each="i : ${#numbers.sequence(1, 24)}" th:value="${i}" th:text="${i}+ '時'">
			</select>
			<select name="endminute">
				<option value="00">00分
				<option value="30">30分
			</select>
		</td>
	</tr>
	<tr>
		<td>予定</td>
		<td>
			<input type="text" name="schedule" value="" size="30" maxlength="100">
		</td>
	</tr>
	<tr>
		<td valign="top">詳細</td>
		<td>
			<textarea name="schedulememo" cols="30" rows="10" wrap="virtual"></textarea>
		</td>
	</tr>
</table>

<p>
	<input type="submit" name="Register" value="登録">
</p>

<p>
	<input type="reset" value="リセット">
</p>
</form>
<form id="back" action="/calender" method="post" style="display:inline;">
	<input type="hidden" name="YEAR" th:value="${sche.year}">
	<input type="hidden" name="MONTH" th:value="${sche.month}">
	<input type="hidden" name="DATE" th:value="${sche.date}">
	<input type="submit" value="カレンダーに戻る">
</form>
</div>
</div>
</body>
</html>