<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>スケジュール</title>
<link rel="stylesheet" th:href="@{/css/schedule.css}">
</head>
<body>
<h1>スケジュール登録</h1>
<span th:text="${sche.year}"></span>年<span th:text="${sche.month}"></span>月<span th:text="${sche.date}"></span>日
<table class="sche" border="1">
	<tr><td class="top" style="width:80px">時刻</td><td class="top" style="width:300px">予定</td></tr>
	<tr th:each="i : ${#numbers.sequence(0, 24)}" th:value="${i}">
		<td class="time" th:text="${i}+':00'"></td><td class="contents"></td>
		<tr><td class="timeb"></td><td class="contentsb"></td></tr>
	</tr>

</table>
</body>
</html>