<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>スケジュール 変更</title>
</head>
<link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css">
<body>
	<h1>スケジュール 変更</h1>
	<form action="/schedit" method="get">
			<input type="hidden" name="code" th:value="${code}">
			<input type="hidden" name="date" th:value="${date}">
			<input type="hidden" name="month" th:value="${month}">
			<input type="hidden" name="year" th:value="${year}">
		<table border="1">
			<tr>
				<th>日付</th>
				<td><input type="date" name="scheduledate" th:value="${scheduledate}" required>
				</td>
			</tr>
			<tr>
				<th>開始時間</th>
				<td><select  name="starthour" th:value="${starttime}">
						<option value=01>01</option>
						<option value=02>02</option>
						<option value=03>03</option>
						<option value=04>04</option>
						<option value=05>05</option>
						<option value=06>06</option>
						<option value=07>07</option>
						<option value=08>08</option>
						<option value=09>09</option>
						<option value=10>10</option>
						<option value=11>11</option>
						<option value=12>12</option>
						<option value=13>13</option>
						<option value=14>14</option>
						<option value=15>15</option>
						<option value=16>16</option>
						<option value=17>17</option>
						<option value=18>18</option>
						<option value=19>19</option>
						<option value=20>20</option>
						<option value=21>21</option>
						<option value=22>22</option>
						<option value=23>23</option>
						<option value=24>24</option>
				</select> :
				<select name="startminute">
						<option value=00>00</option>
						<option value=30>30</option>
				</select>
				</td>
			</tr>
			<tr>
				<th>終了時間</th>
				<td><select  name="endhour" th:value="${endtime}">
						<option value=01>01</option>
						<option value=02>02</option>
						<option value=03>03</option>
						<option value=04>04</option>
						<option value=05>05</option>
						<option value=06>06</option>
						<option value=07>07</option>
						<option value=08>08</option>
						<option value=09>09</option>
						<option value=10>10</option>
						<option value=11>11</option>
						<option value=12>12</option>
						<option value=13>13</option>
						<option value=14>14</option>
						<option value=15>15</option>
						<option value=16>16</option>
						<option value=17>17</option>
						<option value=18>18</option>
						<option value=19>19</option>
						<option value=20>20</option>
						<option value=21>21</option>
						<option value=22>22</option>
						<option value=23>23</option>
						<option value=24>24</option>
				</select> :
				<select name="endminute">
						<option value=00>00</option>
						<option value=30>30</option>
				</select></td>
			</tr>
			<tr>
				<th>スケジュール内容</th>
				<td><input type="text" name="schedule" th:value="${schedule}"></td>
			</tr>
			<tr>
				<th>メモ</th>
				<td><input type="text" name="schedulememo" th:value="${schedulememo}"></td>
			</tr>
		</table>
		<br>
		<p>
			<input type="submit" value="変更">
		</p>
	</form>
</body>
</html>