<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
</head>
<link th:href="@{/css/signup_confirm.css}" rel="stylesheet" type="text/css">
<body>
	<div class="attention" th:text="${error}"></div>
	<form action="/signup" method="post">
		<h1>新規登録</h1>
		<div class=" box-after"><span class="box-title">名前</span><div class="confirm" th:text="${name}"></div></div>
		<div class=" box-after"><span class="box-title">メールアドレス</span><div class="confirm" th:text="${email}"></div></div>
		<div class=" box-after"><span class="box-title">パスワード</span><div class="confirm">*****</div></div>
		<div class=" box-after"><span class="box-title">秘密の質問</span><div class="confirm" th:text="${secret}"></div></div>
		<div class=" box-after"><span class="box-title">質問の答え</span><div class="confirm" th:text="${answer}"></div></div>
		<button class="btn">登録</button>
	</form>
	<h5>
		<a href="/signup">新規登録画面に戻る</a>
	</h5>
</body>
</html>