<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
</head>
<link th:href="@{/css/signup.css}" rel="stylesheet" type="text/css">
<body>
	<form action="/signup_confirm" method="post">
		<div th:text="${error}" style="color: red; margin-top: 30px;"></div>
		<div th:text="${error2}" style="color: red; margin-top: 0px;"></div>
		<h1>新規登録</h1>
		<input type="text" name="name" placeholder="名前">
		<input type="email" name="email" placeholder="メールアドレス">
		<input type="password" name="password" placeholder="パスワード">
		<input type="password" name="password2" placeholder="パスワード(確認)">
		<input type="text" name="tel" placeholder="電話番号">
		<input type="text" name="address" placeholder="住所">
		<input type="text" name="secret" placeholder="秘密の質問">
		<input type="text" name="answer" placeholder="質問の答え">
		<button class="btn">確認</button>
	</form>
	<h5>
		<a href="/login">ログイン画面</a>
	</h5>
	<script>
  const passwordToggle = document.querySelector('.js-password-toggle');
  passwordToggle.addEventListener('change', function () {
    const password = document.querySelector('.js-password'),
          passwordLabel = document.querySelector('.js-password-label');
    if (password.type === 'password') {
      password.type = 'text';
      passwordLabel.innerHTML = '<i class="fas fa-eye-slash"></i>';
    } else {
      password.type = 'password';
      passwordLabel.innerHTML = '<i class="fas fa-eye"></i>';
    }
    password.focus();
  });
</script>
</body>
</html>