<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title >利用者管理</title>
</head>
<body>
<h1>利用者一覧</h1>
<table border="1">
<tr>
	<th>番号</th><th>名前</th><th>メールアドレス</th><th>パスワード</th><th>更新</th><th>削除</th>
</tr>
<tr th:each="user:${list}">
	<td th:text="${user.code}"></td>
	<td th:text="${user.name}"></td>
	<td th:text="${user.email}"></td>
	<td th:text="${user.password}"></td>
	<td>
		<form action="/users/edit" method="post">
		<input type="hidden" name="CODE" th:value="${user.code}">
		<input type="submit" value="更新">
		</form>
	</td>
	<td>
		<form action="/users/delete" method="post">
		<input type="hidden" name="CODE" th:value="${user.code}">
		<input type="submit" value="削除">
		</form>
	</td>
</tr>
</table>
<br>
<a href="/users/new">新規登録</a>
</body>
</html>